<!-- Toolbar -->
<!--<div class="toolbar" role="banner">-->
<!--  -->
<!--</div>-->

<div class="content" role="main">

  <!-- Highlight Card -->
  <h2>Веб додаток</h2>
  <div class="card highlight-card card-small">


    <!-- Resources -->

    <p>Розробка елементів програмного забезпечення y вигляді (web-додатку) з теми "Розв'язування диференціальних рівнянь першого порядку" дисципліни «Математичний аналіз»</p>

  </div>

  <button routerLink="/dashboard">
    Перейти до тестів
  </button>

</div>
